{% extends "base.html" %} 

{% block content%}

  
  


  <!-- Hero Section -->
  <div class="hero-section text-center py-44">
    <h1 class="text-4xl font-bold mb-4">Discover Your Next Internship</h1>
    <p class="text-lg mb-8">Connecting students with exciting internship opportunities and helping organizations find the best talent.</p>
    <a href="{%url 'explore'%}" class="bg-white text-blue-500 py-2 px-6 rounded-full text-lg font-semibold hover:bg-blue-400 transition duration-300">Explore Now</a>
  </div> 

<div class="container mx-auto flex justify-around flex-wrap p-4">
  <!-- Student Section -->
  <div class="section bg-white p-8 rounded-md m-4 text-center">
    <i class="fas fa-user-graduate text-4xl text-blue-500 mb-4"></i>
    <h2 class="text-xl font-semibold text-gray-800 mb-2">Find Internship</h2>
    <p>Discover opportunities for your career growth. Search and apply for internships.</p>
  </div>

  <!-- Organization Section -->
  <div class="section bg-white p-8 rounded-md m-4 text-center">
    <i class="fas fa-building text-4xl text-blue-500 mb-4"></i>
    <h2 class="text-xl font-semibold text-gray-800 mb-2">Find the Best Student</h2>
    <p>Connect with talented students. Find the best fit for your organization.</p>
  </div>
</div>



<!-- Frequently Asked Questions Section -->
<section class="container mx-auto my-14">
  <h2 class="text-3xl font-semibold mb-6">Frequently Asked Questions</h2>

  <!-- FAQ Item 1 -->
  <div class="mb-4">
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md focus:outline-none" onclick="toggleAnswer('faq-answer-1')">+  How can I search for internships?</button>
    <div id="faq-answer-1" class="faq-answer mt-2">
      <p>You can search for internships by logging into your account and using the search feature on our platform. Filter by your preferences to find suitable opportunities.
      </p>
    </div>
  </div>

  <!-- FAQ Item 2 -->
  <div class="mb-4">
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md focus:outline-none" onclick="toggleAnswer('faq-answer-2')">+ How can I apply for internships?</button>
    <div id="faq-answer-2" class="faq-answer mt-2">
      <p> Once you find an internship of interest, click on the "Apply" button and follow the application instructions provided by the organization offering the internship.</p>
    </div>
  </div>


  

</section>
<script>
  
document.addEventListener('DOMContentLoaded', function () {
    const mobileMenuBtn = document.getElementById('mobile-menu-btn');
    const mobileMenu = document.getElementById('mobile-menu');

    mobileMenuBtn.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
  });

  function toggleAnswer(answerId) {
    var answer = document.getElementById(answerId);
    if (answer.style.display === "none") {
      answer.style.display = "block";
    } else {
      answer.style.display = "none";
    }
  }
</script>


{% endblock %}